.joke {
    text-align: center;
}

.list_jokes {
    width: 300px;
    max-width: 1150px;
    border: 1px solid black;
}

.list_jokes_item {
    padding: 15px;
}

button {
    font-size: 14px;
    letter-spacing: 0.03em;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;

}

button:hover {
    background-color: darkgray;
    transition: 0.4s;
}